.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f0f0f0;
}

.logo {
  cursor: pointer;
}

.user-details {
  display: flex;
  align-items: center;
  justify-content: center;
}

.username {
  margin-right: 10px;
}

.logout-button {
  padding: 10px 15px;
  border: none;
  background-color: #ff0000;
  color: white;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #cc0000;
}
