.custom-card {
  width: 60%;
  padding: 30px;
  margin: auto;
  background-color: white;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-header {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 20px;
}
