.tabs-wrapper {
    display: flex;
    justify-content: center;

}

.tabs {
padding: 12px 24px;
  border: 2px solid #ff0000;
  border-radius: 5px;
  background-color: #ff0000;
  color: white;
  cursor: pointer;
  flex-grow: 1;
  text-align: center;
}